@font-face {
  font-family: 'Assistant';
  src: font-url('Assistant-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Assistant Bold';
  src: font-url('Assistant-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
