$invicta-dark: #2c3034;
$invicta-text: #d9d9d9;
$invicta-hover: #1e1e1e;
$invicta-dark-grey: #4b4b4b;
.mini-font {
  font-size: 14px;
}

body {
  background-color: $invicta-dark;
  color: $invicta-text;
}

.bg-grey {
  background-color: #f0f0f0;
}

a:-webkit-any-link a:link a:visited {
  text-decoration: none !important;
  color: #1a1e21 !important;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}