// Colors
$invicta-white: #eaeaea;
$invicta-text: #e6e6e3;
$invicta-text-mute: rgb(162, 162, 162);
$invicta-contrast: #5AB1BB;
$invicta-theme: #DF9216;
$invicta-theme-dark: #d18915;
$invicta-light: #5C5C5C;
$invicta-light-grey: #494542;
$invicta-grey: #333333;
$invicta-dark: #292929;
$invicta-dark-shade: #272727;
$invicta-shade: #1F1F1F;
$invicta-black: #141414;
// Font sizes
$invicta-font-small: 12px;
// Media Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-mobile-tablet: 624px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 924px;
.mini-font {
  font-size: 14px;
}

body {
  background-color: $invicta-dark;
  color: $invicta-text;
  border: none !important;
  border-color: $invicta-dark;
}

.bg-grey {
  background-color: #f0f0f0;
}

a:-webkit-any-link a:link a:visited {
  text-decoration: none !important;
  color: #1a1e21 !important;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.invicta-dark-grey { background-color: $invicta-shade }

.invicta-grey-bg { background-color: $invicta-grey }

.invicta-dark-bg { background-color: $invicta-dark }

.invicta-shade-bg { background-color: $invicta-shade }

.invicta-text { color: $invicta-text !important }

.invicta-text-mute { color: $invicta-text-mute !important }

.invicta-dark { color: $invicta-dark }

.invicta-light-grey { color: $invicta-light-grey}

input, textarea {
  background-color: $invicta-black !important;
  color: $invicta-text !important;
}

.form-control {
  border: 0 !important;
}

p {
  font-size: 18px;
}
