<div class="book-content-actions-container">
  <div class="actions-wrapper">
    <% unless disabled %>
      <div class="dropdown">
        <div class="ellipsis-container" data-bs-toggle="dropdown">
          <i class="fa-solid fa-ellipsis fa-lg comment-icon"></i>
        </div>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li class="dropdown-item">Share coming soon...</li>
          <li class="dropdown-item">Report grammar...</li>
        </ul>
      </div>
    <% end %>
  </div>
</div>