<%= turbo_frame_tag content.id do %>
  <div class="book-content-bookmark-container">
    <% unless disabled %>
      <div class="bookmark-wrapper <%= bookmarked && "bookmarked" %>">
        <% if bookmarked %>
          <i class="fa-solid fa-bookmark fa-lg"></i>
        <% else %>
          <i class="fa-regular fa-bookmark fa-lg"></i>
        <% end %>
      </div>

      <% unless content.bookmark_count == 0 %>
        <div class="bookmark-count-wrapper text-secondary">
          <span><%= content.bookmark_count %></span>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
