<div class="book-index-container p-4">
  <h1>Books</h1>

  <div id="index-books-display-container">
    <%= render partial: 'book', collection: @books %>
  </div>

  <%= link_to "New book", new_book_path %>
</div>
