.book-page-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.5em 0;
  transition: 0.15s;
  color: $invicta-text !important;

  .content-hover {
    &:hover { background: $invicta-hover }
  }

  p {
    margin-bottom: 0;
  }

  .text-link-container {
    flex-grow: 100;
  }

  blockquote { margin-bottom: 0 }

  .book-content-text-container {
    flex-grow: 100;
    color: $invicta-text !important;

    p {
      white-space: pre-line;
      line-height: 1.6;
    }
  }
}

.capitalized {
  font-weight: 300;

  p {
    font-size: 26px;
    text-align: center;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
}
