.toc-toggle {
  height: 3em;
  width: 1.6em;
  border: 1px solid $invicta-light-grey;
  border-left: 0;
  border-radius: 0 8px 8px 0;
  background-color: $invicta-shade;
  z-index: 1000;
  position: fixed;
  left: 21.5em;
  top: 18vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $invicta-light-grey;
}

.toc-container {
  display: block;
  width: 20%;
  height: 100vh;
  position: relative;
}

.table-of-contents::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.table-of-contents {
  //overflow-y: scroll;
  overflow: auto;
  top: 0;
  left: 0;
  border-right: 1px solid $invicta-light-grey;
  z-index: 199;
  height: 100vh;
  background-color: $invicta-shade;
  position: fixed;
  width: 21.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  .book-info {
    p {
      font-size: $invicta-font-small;
    }
  }

  .invicta-logo {
    font-size: 24px;
    font-weight: bold;
  }

  .toc-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0;
    padding: 0 15px;
  }

  .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
  }

  .section {
    color: $invicta-text !important;
    margin: 0;
    padding: 0.45em 0.80em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h6 { line-height: 1.5 }

    &:hover {
      background-color: $invicta-dark;
    }

    i {
      padding-right: 0.8em;
      opacity: 0.6;
    }
  }

  .current-section {
    background-color: $invicta-theme;
    color: white;

    &:hover {
      background-color: $invicta-theme;
    }
  }

  h6 {
    margin: 0;
    display: inline;
  }
}

