.book-info-link-container {
  color: #1a1e21 !important;
  text-decoration: none !important;
}

.book-display-author-data {
  font-size: 14px;
}

.book-display-metadata {
  font-size: 13px;
}

.book-display-description {
  font-size: 14px;
}